#container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100%;
    background-color: bisque;

}

.box {

    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 400px;
    background-color: aquamarine;
    margin: 10px auto;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    position: relative; */

    background: gray;
    float: left;
    width: 200px;
    height: 200px;
    padding: 3px;
    margin: 10px 20px 10px 20px;
    text-align: center;

}

button {

    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 10px;

    /* display: block;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    position: absolute; */
    
    /* text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 0;
    width: auto;
    margin-left: 5px;
    margin-right: 5px; */

}

h1 {

    margin: 40px;

}